extends layout

  
block board
  #square
  block photo
    img(class="photo" src='images/NERDUS._AC_.jpg')
  block button
    <a href="user" class="button" id="but1"><span>Projects </span></a>
    <a href="fadeScreen" class="button" id="but2"><span>About me </span></a>
    <a href="localhost:3000/user" class="button" id="but3"><span>hobby </span></a>
    <a href="index">