doctype html
html
  head
    title= "Cv Site"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  block fadeScreen
  block board
    block photo
      
    block button
      
    
  
html