body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

#square {
  margin-top: 2%;
  margin-left: 15%;
  height: 800px;
  width: 1200px;
  background-color: rgb(20, 20, 20);
}

body{
  background-color: rgb(27, 27, 27);
}
.photo{
  position: absolute;
  height: 250px;
  width: 200px;
  transition: 1s;
  margin-top: -785px;
  margin-left: 15%;
}
.photo:hover{
  display: block;
  height: 400px;
  width: 350px;
  margin-right: 20%;
  
}



.button{
  border-radius: 10%;
  color: #FFFFFF;
  background-color: blue;
  width: 160px;
  height: 50px;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  display: inline-block;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#but1{
  margin-top: -40%;
  margin-left: 34%;
}

#but2{
  margin-top: -40%;
  margin-left: 49%;
}

#but3{
  margin-top: -40%;
  margin-left: 63%;
}